/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*-----Base Styles (element selectors; color, typography)-----*/
html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  font-family: Helvetica, sans-serif;
  line-height: 1.5em; /* 24px / 16px */
  padding: 0 1em; /* 16px = 1em */
}

h1, h2 {
  padding: 0 0 0 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

/*-----Layout (id selectors; width/height, position, flexbox, grid)-----*/
#cinema-name {
  color: #3C3A9C;
  font-size: 3.375em; /* 54px / 16px = 3.375em */
  /* T R B L */
  padding: 0.5em 0 0.5em 0; /* 8px / 16px = 0.5em */
}

/*-----Module/Modular (class or descendent selectors; repeating specific styles)-----*/
.section-title {
  color: #6160B6;
  font-size: 1.6875em; /* 27px / 16px = 1.6875em */
  /* T R B L */
  padding: 0 0 0.5em 0; /* 8px / 16px = 0.5em */
}

.purchase-button,
.pages a {
  background: #258088;
  color: white;
  display: block;
  font-size: 1.125em;
  padding: 0.5em; /* 8px / 16px = 0.5em */
  /* TO-DO: change width */
}

.pages a {
  border: 0.125em solid white; /* 2px / 16px = 0.125em */
}

.pages {
  display: flex;
  flex-flow: row;
  justify-content: right;
}

/*-----State (repeat the structure above; media queries, JavaScript-dependent styles)-----*/
