@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*-----Base Styles (element selectors; color, typography)-----*/
html {
  background-color: #05000f;
  color: #ffffff;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em; /* 24px / 16px */
  padding: 0 1em; /* 16px = 1em */
}

h1, h2, h3 {
  padding: 0 0 0 0;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

input, label, select {
  display: block;
  box-sizing: border-box;
}

input,
select {
  padding: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
  cursor: pointer;
}

input[type="date"],
input[type="email"],
input[type="submit"],
input[type="tel"],
select {
  margin-bottom: 0.61111111em; /* 11px / 18px = 0.61111111em */
  background-color: rgba(37,128,136,1);
  color: white
}

input[type="submit"]:disabled {
  background-color: rgba(37,128,136,0.3);
}

input[type=checkbox] {
   display: none;
 }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus,
input[type="tel"]:focus,
select:focus {
  background-color:#94CED3;
  color: black;
}

 input:checked + .seat-number{
  background: #A5A4DD;
  color: black;
  border-color: black;
}

/*-----Layout (id selectors; width/height, position, flexbox, grid)-----*/
#cinema-name {
  color: #3C3A9C;
  font-size: 1.6875em; /* 27px / 16px = 1.6875em */
  /* T R B L */
  padding: 0 0 0 0; /* 8px / 16px = 0.5em */
}

/*-----Module/Modular (class or descendent selectors; repeating specific styles)-----*/
.section-title {
  color: #6160B6;
  font-size: 1.6875em; /* 27px / 16px = 1.6875em */
  /* T R B L */
  padding: 0.625em 0 0.625em 0; /* 8px / 16px = 0.5em */
}

.movie-title {
  color: #8F52AE;
  font-size: 1.6875em; /* 27px / 16px = 1.6875em */
}

.purchase-button {
  background: #258088;
  color: white;
  display: inline-block;
  font-size: 1.125em;
  padding: 0.625em; /* 8px / 16px = 0.5em */
  /* TO-DO: change width */
}

.pages a {
  background: #258088;
  color: white;
  display: block;
  font-size: 1.125em;
  padding: 0.625em; /* 8px / 16px = 0.5em */
  /* TO-DO: change width */
  border: 0.25em solid #05000f; /* 2px / 16px = 0.125em */
}

.pages {
  display: flex;
  flex-flow: row;
  justify-content: right;
}

.movie-option {
  display: inline-block;
}

.movie-poster {
  height: 50vh;
  padding: 1em 0 0 0;
}

.main-list {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.row-A,
.row-B,
.row-C,
.row-D,
.row-E {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 1.5625em; /* 25px / 16px = 1.5625em */
  grid-row-gap: 0.3125em; /* 5px / 16 px = 0.3125em */
  align-items: center;
  width: 50vw;
}

.seat-number {
  background: #201E7C;
  color: white;
  border: 0.0625em solid; /* 1px / 16px = 0.0625em */
  display: block;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  text-align: center;
  cursor: pointer;
}

/*-----State (repeat the structure above; media queries, JavaScript-dependent styles)-----*/
@media all and (min-width: 603px) {
  #cinema-name {
    font-size: 3.375em; /* 54px / 16px = 3.375em */
    padding: 0.5em 0 0 0; /* 8px / 16px = 0.5em */
  }
}

@media all and (min-width: 800px) {
  #cinema-name {
    padding: 0 0 0 0;
  }

  .main-list {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
}

@media all and (min-width: 1060px) {
  .movie-title {
    color: #8F52AE;
    font-size: 1.25em; /* 20px / 16px = 1.25em */
  }

  input,
  select {
    width: 50vw;
  }
}
